.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    margin-right: 20px;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.navbar-links a:hover,
.navbar-links a.active {
    background-color: #70acec; /* Color azul del fondo */
    color: white; /* Color del texto */
}

.navbar-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar-search {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espacio entre la barra de búsqueda y el botón de notificaciones */
}

.navbar-search input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    color: #333;
    outline: none;
    width: 200px;
    margin-right: 10px; /* Espacio entre la barra de búsqueda y el botón de búsqueda */
}

.navbar-search input::placeholder {
    color: #333;
    opacity: 0.7;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja la barra derecha a la derecha */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.icon-button img {
    width: 32px;
    height: 32px;
}

/* Estilo opcional para evitar que el botón de perfil se desborde */
.navbar-right button:last-child {
    margin-right: 0; /* Asegura que no haya margen derecho adicional */
}
