.editar-producto {
  max-width: 1000px;
  padding: 20px;
}

.editar-producto h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #f72585; 
  margin-bottom: 20px;
  text-align: left;
}

.product-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-image,
.additional-images img {
  width: 300px;
  height: 150px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modify-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px; /* Añadir espacio debajo de los botones */
}

.modify-buttons {
  width: 200px;
  height: 30px;
  padding: 2px 12px;
  background-color: #f72585;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.modify-buttons:hover {
  background-color: #ff0073;
}

.product-details {
  flex: 1;
}

.details-and-images {
  display: flex;
  gap: 20px;
}

.details {
  flex: 1;
}

.details label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 150px;
  max-height: 140px;
  min-height: 140px;
}

.editar-producto select {
  width: 25%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  appearance: none;
}

.editar-producto select:focus {
  outline: none;
  border-color: black;
}

.price-stock {
  display: flex;
  justify-content: space-between;
}

.price-stock > div {
  flex: 1;
  margin-right: 10px;
}

.price-stock > div:last-child {
  margin-right: 0;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.atras-button,
.save-button {
  padding: 10px 20px;
  background-color: #f72585;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.atras-button:hover,
.save-button:hover {
  background-color: #ff0073;
}

.additional-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-section .modify-buttons {
  margin-top: 2px; /* Añadir margen superior para ambos botones */
}

.additional-images .modify-buttons {
  margin-top: 10px; /* Aumentar margen superior para el botón de imagen adicional */
}
