.auth-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee3774;
  margin: 0;
  padding: 0;
  border: none;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Arial', sans-serif;
}
