.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: transparent; /* Sin color de fondo */
  color: #3a8ae1;
  border: none; /* Sin borde */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50%; /* Botones redondeados */
}

.pagination button.active {
  background-color: #3a8ae1;
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #dbeafe;
}

.pagination button:disabled {
  color: #9ca3af;
  background-color: transparent;
  cursor: not-allowed;
}
