.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ee3774;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
  }
  
  .sidebar__header h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar__nav {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar__nav li {
    margin: 20px 0;
  }
  
  .sidebar__nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar__footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar__footer li {
    margin: 10px 0;
  }
  
  .sidebar__footer li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .main-layout {
    display: flex;
  }
  
  .main-content {
    padding: 40px;
    flex-grow: 1;
  }
  