/* .soporte-page {
  padding: 20px;
}

.soporte-page h1 {
  font-size: 2rem;
  color: #f72585;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filters label {
  margin-right: 10px;
}

.support-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.support-table th, 
.support-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.respondido {
  color: rgb(44, 245, 44);
  font-weight: bold;
}

.sin-responder {
  color: red;
  font-weight: bold;
}

.add-admin-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.add-admin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  background-color: #fff;
  color: #007bff;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; 
  outline: none; 
}

.add-admin-button:focus {
  outline: none; 
}

.add-admin-button:hover {
  background-color: #e6f0ff;
}

.add-admin-button span {
  font-size: 3rem;
}

.add-admin-button p {
  margin-top: 10px;
  font-size: 1rem;
  color: black;
}

.add-admin-container a {
  text-decoration: none; 
} */